# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

dist/*
!dist/.gitkeep
!dist/index.js
!dist/index.d.ts
!dist/index.d.ts.map
!dist/index.js.map
.env
.env.local
*.log
.DS_Store
